//
//// FILTERS PANEL
//
.result-count {
  @include govuk-font(16);
}

.filters {
  .filter {
    margin-bottom: 1em;

    .filters-heading {
      background: govuk-colour("light-grey");
      font-weight: bold;
      padding: .5em;
      margin: 0;
      vertical-align: middle;
      position: relative;
      cursor: pointer;

    }

    &.open {
      .filters-heading {
        .toggle {
          background-position: center -45px;
        }
      }

      .filters-wrapper {
        display: block;

        .govuk-form-group {
          margin-bottom: 10px;
        }
      }
    }
  }

  .filters-wrapper {
    display: none;
    width: auto;
    border-width: 0 4px 4px 4px;
    border-color: govuk-colour("light-grey");
    border-style: solid;
    padding: .5em .5em 0;
    font-size: .8em;

  }

  .filter-helper {
    display: block;
    font-size: .85em;
    padding-bottom: .5em;
  }

}
