{% extends "layout.html" %}
{% block pageTitle %}
  Restricted words - Companies House Internal Service
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "all"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{word}}</h1>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Added by"
            },
            value: {
              text: "Sarah Philips"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Date added"
            },
            value: {
              text: "5 January 1978"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "date of birth"
                }
              ]
            }
          },
          {
            key: {
              text: "Date removed"
            },
            value: {
              html: "72 Guild Street<br>London<br>SE23 6FH"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "contact information"
                }
              ]
            }
          },
          {
            key: {
              text: "Super restricted"
            },
            value: {
              html: '<p class="govuk-body">07700 900457</p><p class="govuk-body">sarah.phillips@example.com</p>'
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "contact details"
                }
              ]
            }
          }
        ]
      }) }}

      {{ govukButton({
  text: "Delete word",
  classes: "govuk-button--warning"
}) }}
    </div>
  </div>
{% endblock %}