{% extends "layout.html" %}
{% block pageTitle %}
  Restricted words - Companies House Internal Service
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "all"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters-from-desktop">
      <h1 class="govuk-heading-xl">{{word}}</h1>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Added by"
            },
            value: {
              text: " 	rdavies@companieshouse.gov.uk "
            }
          },
          {
            key: {
              text: "Date added"
            },
            value: {
              text: "02/03/2016"
            }
          },
          {
            key: {
              text: "Date removed"
            },
            value: {
              html: "25/04/2021"
            }
          },
          {
            key: {
              text: "Super restricted"
            },
            value: {
              html: 'No'
            }
          }
        ]
      }) }}

      {{ govukButton({
      text: "Delete word",
      href: "delete-word?word=" + word + '',
      classes: "govuk-button--warning" }) }}

      <h2 class="govuk-heading-l">Super restricted</h2>
      {{ govukCheckboxes({
  idPrefix: "waste",
  name: "waste",
  fieldset: {
    legend: {
      text: "Should this word be super restricted?"
    }
  },
  items: [
    {
      value: "carcasses",
      text: "Yes"
    }
  ]
}) }}
      {{ govukButton({
  text: "Update"
}) }}

      {{ govukTable({
        caption: "Super restricted history",
          captionClasses: "govuk-table__caption--m",
  head: [
    {
      text: "Date"
    },
    {
      text: "Who"
    },
    {
      text: "What"
    }
  ],
  rows: [
    [
      {
        text: "02/04/2020"
      },
      {
        text: "sberry@companieshouse.gov.uk"
      },
      {
        text: "Made this word super restricted"
      }
    ],
    [
      {
        text: "03/05/2019"
      },
      {
        text: "sberry@companieshouse.gov.uk"
      },
      {
        text: "Made this word not super restricted"
      }
    ],
    [
      {
        text: "22/08/2016"
      },
      {
        text: "sberry@companieshouse.gov.uk"
      },
      {
        text: "Made this word super restricted"
      }
    ]
  ]
}) }}

    </div>
  </div>
{% endblock %}